{% extends 'warhawks/base.html' %}

{% block content %}

<div class="container">
    <h5 class="text-center">Register New Account</h5>
    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
           
            
            <input type="submit" class="btn btn-danger">
            <div class="text-mute">Already a member? <a href="{% url 'accounts:login' %}">Login</a></div>
        </form>
    </div>
</div>

{% endblock %}