{% extends 'warhawks/base.html' %}

{% block title %}
{{ action }} Job
{% endblock %}

{% block content %}
<div  style="top: 0; background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);">
<div class="container">
    <h3>{{ action }} Job</h3>
        <form action="" method="POST" enctype="multipart/form-data" id="jobform">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" value="{{ action }} Job" class="btn">
            <br>
            <br>
        </form>
</div>
</div>
{% endblock %}