{% extends 'warhawks/base.html' %} 
{% load staticfiles %}

{% block title %}
Apartments
{% endblock %}
{% block content %}

<!-- apartments -->
<div class="container">
    <br>
    <a href="{% url 'main:add_apartment' %}" class="btn">Add Apartments</a>
    <h5>Accomodations</h5>
    <hr>
    <div class="row">
        {% for a in apartments %}
        <div class="col s12 m12">
            <!-- test -->
            <div class="row">
                <div class="col s12 m8">
                    <h5><a href="{% url 'main:apartment_details' a.slug %}">{{ a.location }}</a></h5>
                    <h6>{{ a.distance_from_university }} km from campus</h6>
                    <p>{{ a.description|truncatechars:80 }}.. <a href="{% url 'main:apartment_details' a.slug %}">Read More</a></p>
                </div>

                <div class="col s12 m4">
                   <a href="{% url 'main:apartment_details' a.slug %}"> <img src="{{ a.picture.url }}" alt="" class="responsive-img" width="250px;"></a>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}