<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8">
  <title>
    {% block title %} Home {% endblock %} | Warhawks
  </title>

</head>
  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="https://fonts.googleapis.com/css?family=Francois+One|Signika:700" rel="stylesheet">


</head>

<body>

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="{% url 'main:home' %}" class="brand-logo"><img class="responsive-img" src="{% static 'images/logo.jpg' %}" alt="" width="40px;"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'main:job_listings' %}">Jobs</a></li>
            <li><a href="{% url 'main:apartments' %}">Apartments</a></li>
            <li><a href="{% url 'main:lost_and_found' %}">Lost And Found</a></li>
            <li><a href="{% url 'blog:home' %}">Blog</a></li>
            <li><a href="{% url 'main:study_materials' %}">Study Materials</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts:display_profile' request.user %}">{{ request.user }}</a></li>

           <li><a class='dropdown-trigger' href='#' data-target='dropdown2'>
            Notifications

             <i class="material-icons left"> notifications</i>
             {% if total_not_count %}
             {{ total_not_count }} 
             {% endif %}</a></li>

         
            <!-- NOTIFICATIONS -->
            <ul id='dropdown2' class='dropdown-content'>
              <!-- job notifications -->
              {% if job_notifications %}
                <h5 class=" black-text center-align">Job Notifications</h5>
                {% for j in job_notifications %}
                <li><img src="{{ profile.profile_picture.url }}" alt="{{request.user}}" class="circle responsive-img" width="30px;"><a href="{% url 'main:read_job_notifiation' j.id j.job.slug %}">{{ j.message }} - {{ j.date|timesince }} ago</a>
                </li>
                {% endfor %}
                {% else %}
                <h6 class=" black-text center-align">No new job notifications</h6>
              {% endif %}
              <!-- apartment notifications -->
                <li class="divider" tabindex="-1"></li>
                {% if apartment_notifications %}
                <h5 class=" black-text center-align">Apartment Notifications</h5>
                {% for a in apartment_notifications %}
                <li><img src="{{ profile.profile_picture.url }}" alt="{{request.user}}" class="responsive-img" width="20px;"> <a href="{% url 'main:read_apartment_notifiation' a.id a.apartment.slug %}">{{ a.message }} - {{ a.date|timesince }} ago</a>
                </li>
                {% endfor %}
                {% else %}
                <h6 class=" black-text center-align">No new apartment notifications</h6>
              {% endif %}
              <li class="divider" tabindex="-1"></li>
              <!-- lost and found notitications -->
              {% if lf_notifications %}
                <h5 class="black-text center-align">Lost & Found Notifications</h5>
                  {% for a in lf_notifications %}
                    <li><i class="material-icons left"> notifications</i><a href="{% url 'main:read_lf_notifiation' a.id a.lf.slug %}">{{ a.message }} - {{ a.date|timesince }} ago</a>
                    </li>
                  {% endfor %}
              {% else %}
              <h6 class=" black-text center-align">No new lost & found notifications</h6>
            {% endif %}
              </ul>
              <!-- END HERE NOTIFICATIONS -->
            <li><a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn">Logout</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="waves-effect waves-light btn">Login</a></li>
            <li><a href="{% url 'accounts:register' %}" class="waves-effect waves-light btn">Register</a></li>
            {% endif %}
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
              <li><a href="{% url 'main:job_listings' %}">Jobs</a></li>
              <li><a href="{% url 'main:apartments' %}">Apartments</a></li>
              <li><a href="{% url 'main:lost_and_found' %}">Lost And Found</a></li>
              <li><a href="{% url 'blog:home' %}">Blog</a></li>
              <li><a href="{% url 'main:study_materials' %}">Study Materials</a></li>
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'accounts:display_profile' request.user %}">{{ request.user }}</a></li>
  
             <li>     <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>
              Notifications
  
               <i class="material-icons left"> notifications</i>
               {% if total_not_count %}
               {{ total_not_count }} 
               {% endif %}</a></li>
  
           
              <!-- NOTIFICATIONS -->
              <ul id='dropdown1' class='dropdown-content'>
                <!-- job notifications -->
                {% if job_notifications %}
                  <h5 class=" black-text center-align">Job Notifications</h5>
                  {% for j in job_notifications %}
                  <li><a href="{% url 'main:read_job_notifiation' j.id j.job.slug %}">{{ j.message }} - {{ j.date|timesince }} ago</a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <h6 class=" black-text center-align">No new job notifications</h6>
                {% endif %}
                <!-- apartment notifications -->
                  <li class="divider" tabindex="-1"></li>
                  {% if apartment_notifications %}
                  <h5 class=" black-text center-align">Apartment Notifications</h5>
                  {% for a in apartment_notifications %}
                  <li><a href="{% url 'main:read_apartment_notifiation' a.id a.apartment.slug %}">{{ a.message }} - {{ a.date|timesince }} ago</a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <h6 class=" black-text center-align">No new apartment notifications</h6>
                {% endif %}
                <li class="divider" tabindex="-1"></li>
                <!-- lost and found notitications -->
                {% if lf_notifications %}
                  <h5 class="black-text center-align">Lost & Found Notifications</h5>
                    {% for a in lf_notifications %}
                      <li><i class="material-icons left"> notifications</i><a href="{% url 'main:read_lf_notifiation' a.id a.lf.slug %}">{{ a.message }} - {{ a.date|timesince }} ago</a>
                      </li>
                    {% endfor %}
                {% else %}
                <h6 class=" black-text center-align">No new lost & found notifications</h6>
              {% endif %}
                </ul>
                <!-- END HERE NOTIFICATIONS -->
              <li><a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn">Logout</a></li>
  
              {% else %}
            <li><a href="{% url 'accounts:login' %}" class="waves-effect waves-light btn">Login</a></li>
            <li><a href="{% url 'accounts:register' %}" class="waves-effect waves-light btn">Register</a></li>
            {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div class="container">
      {% if messages %}
      <ul class="message">
        {% for message in messages %}
          <li class="center-align {{ message.tags }}">
            {{ message |safe }}
            <a href="#" class="close"></a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
      <!-- <div class="container">
          <form action="" method="get" >
              <input type="hidden" name="notif">
          </form>
      </div> -->
  {% block content %}
  
  {% endblock %}
  <footer class="page-footer" style="background: #292B2B;">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">ULM Warhawks</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            <a href="#" class="btn">Donate Us</a>
          </div>
          <div class="col l6 s12">
            <form action="{% url 'main:home' %}" method="post" enctype="multipart/form-data" id="contactForm">

              {% csrf_token %}
              <label class="white-text" for="email">Email</label>
              <input type="email" placeholder="Enter Email" class="white validate" name="email">

              <label class="white-text" for="fullname">Full Name</label>
              <input type="text" placeholder="Enter your Name" class="white" name="full_name">

              <label class="white-text" for="message">Message</label>
              <textarea id="textarea1" class="white materialize-textarea" name="msg"></textarea>

              <input type="submit" value="Send Message" onclick="M.toast({html: 'Message Sent Successfully'})" class="btn">
            </form>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made By <a class="brown-text text-lighten-3" target="_blank" href="https://bibekbhandari.herokuapp.com/">Bibek Bhandari</a>
        </div>
      </div>
    </footer>
  
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>

  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/formalize.js' %}"></script>

  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


  </body>
</html>
