<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
        Home
    {% endblock %}
     | Warhawks
  </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!------ Include the above in your HEAD tag ---------->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Signika:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <!-- ckeditor css hilighter.js -->
  <link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="small-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 date-sec">
            <div id="Date"></div>
          </div>
                <div class="col-lg-3 offset-lg-5">
            <div class="social-icon"> <a target="_blank" href="#" class=" fa fa-facebook">

            </a> <a target="_blank" href="#" class=" fa fa-twitter"></a>
             <a target="_blank" href="#" class=" fa fa-google-plus"></a
              > <a target="_blank" href="#" class=" fa fa-linkedin"></a> 
              <a target="_blank" href="#" class=" fa fa-youtube"></a>
              {% if not request.user.is_authenticated %}<a href="{% url 'accounts:login' %}">Login</a><a href="{% url 'accounts:register' %}">Register</a>
            {% else %} <a href="{% url 'accounts:logout' %}">Logout</a> {% endif %} </div>
          </div>
          </div>
              </div>
      </div>
            <div class="top-head left">
        <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                          <h1>ULM Warhawks<small>Get Everything Done</small></h1>
                        </div>
                  <div class="col-md-6 col-lg-3 ml-auto admin-bar hidden-sm-down">
                          <nav class="nav nav-inline">
                            {% if request.user.is_authenticated %}
                            <img class="img-fluid rounded-circle" src="{{ profile.profile_picture.url }}"  </nav>
                            
                            {% else %}
                             <a href="{% url 'accounts:register' %}">Register</a>
                             <a href="{% url 'accounts:login' %}">Login</a> 
                             {% endif %}
                        </div>
          </div>
              </div>
      </div>
          </header>
    <section class="top-nav">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="{% if nbar == 'home' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="{% if nbar == 'job_listings' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'main:job_listings' %}">Job Listings</a>
      </li>
      <li class="{% if nbar == 'apartments' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'main:apartments' %}">Accomodation</a>
      </li>
      <li class="{% if nbar == 'lost_and_found' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'main:lost_and_found' %}">Lost And Found</a>
      </li>
      <li class="{% if nbar == 'study_materials' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'main:study_materials' %}">Study Materials</a>
      </li>
      <li class="{% if nbar == 'blog' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="{% url 'blog:home' %}">Blog</a>
      </li>
      <li class="{% if nbar == 'travel_with_a_friend' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="#">Travel With a Friend</a>
      </li>
      <li class="{% if nbar == 'contact_us' %}nav-item active {% else %}nav-item{% endif %}">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
    </section>
    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
  </html>
