{% extends 'warhawks/base.html' %} {% load staticfiles %} {% block content %}

<div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center red-text text-lighten-2" id="banner">ULM WARHAWKS</h1>
            <div class="row center">
              <h5 class="header col s12 dark">Get Everything Done</h5>
            </div>
            <div class="row center">
              <a href="{% url 'accounts:register' %}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register Today</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="{% static 'images/background1.jpg' %}" alt="Unsplashed background img 1"></div>
      </div>
    
    
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
                <h5 class="center">Part Time and Full Time Jobs</h5>
    
                <p class="light">We display all the relevant part time, full time as well as internship jobs posted by the user. Jobs will mostly be near the university area posted by the university students.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">home</i></h2>
                <h5 class="center">Accomodations</h5>
    
                <p class="light">Users will be able to post apartments, houses for students near the university area. Students can also take the advantage of getting roommates for their apartment or house.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">laptop_windows
                </i></h2>
                <h5 class="center">Study Materials</h5>
    
                <p class="light">Books, Notes or Question papers, students can now upload all these materials so that other students can learn from the free resources uploaded in the website.</p>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    
    
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">An Initiative to Get Everything Done For Students</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="{% static 'images/2.jpg' %}" alt="Unsplashed background img 2"></div>
      </div>
    
      <div class="container">
        <div class="section">
    
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Who are we?</h4>
              <p class="left-align light">We are a group of a small team with tech enthusiasts. We are the students of University of Losuisiana at Monroe dedicated to provide assistance to the students regarding jobs, aparments or study materials. </p>
            </div>
          </div>
    
        </div>
      </div>
    
    
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="{% static 'images/1.jpg' %}" alt="Unsplashed background img 3"></div>
      </div>

{% endblock %}