{% extends 'warhawks/base.html' %} 
{% load staticfiles %}

{% block title %}
Jobs
{% endblock %}
{% block content %}
<!-- jobs -->
<div  style="top: 0; background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);">

<div class="container">
    <br>
    <a href="{% url 'main:add_jobs' %}" class="btn">Add Job</a>
    <h5>Job Listings</h5>
   
    <div class="row">
        {% for a in jobs %}
        <div class="col s12 m12">
            <!-- test -->
            <div class="row">
                <div class="col s12 m8">
                    <h5><a href="{% url 'main:job_details' a.slug %}" id="title">{{ a.company }}</a></h5>
                    <span id="userlabel">{{ a.j_type }}</span>
                    <p>{{ a.description|truncatechars:80 }}.. <a href="{% url 'main:job_details' a.slug %}">Read More</a></p>
                    <i>{{ a.posted_on }} by <strong>{{ a.posted_by }}</strong></i>
                </div>

                <div class="col s12 m4">
                    {% if a.salary > 8 %}
                       <h3 class="sbox high">${{ a.salary }}/hour</h3>
                       {% else %}
                       <h3 class="sbox low">${{ a.salary }}/hour</h3>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

  <!-- pagination -->
  {% if jobs.has_other_pages %}
  <ul class="pagination">
    {% if jobs.has_previous %}
      <li  class="waves-effect"><a href="?page={{ jobs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
    {% endif %}
    {% for i in jobs.paginator.page_range %}
      {% if jobs.number == i %}
        <li class="waves-effect active"><a href="">{{ i }}</a></li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if jobs.has_next %}
      <li class="waves-effect"><a href="?page={{ jobs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li class="disabled"><span><i class="material-icons">chevron_right</i></span></li>
    {% endif %}
  </ul>
{% endif %}
    
</div>
{% endblock %}