{% extends 'warhawks/base.html' %}
 {% block title %} Blogs {% endblock %} 
 
 {% block content %}
<div class="container">
    <!-- full posts -->
    <div class="row">
        <div class="col m9 s12">
            <div class="box-header">
                <div class="row">
                    <div class="col m9">
                        <h5>Recent Posts</h5>
                    </div>
                    <div class="col m3">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'blog:add_blog' %}" class="btn btn-primary">Add Blog</a>{% endif %}
                    </div>
                </div>
            </div>
            <br> {% for a in blogs %}
            <div class="posts">
                <div class="actual-post">
                    <div class="row">
                        <div class="col m8">

                            <div class="small-box">
                                {{ a.category }}
                            </div>
                            <a href="{% url 'blog:details' a.id a.slug %}" id="title">{{ a.title }}</a>
                            <br>
                            <p>{{ a.description |safe |truncatechars:150 }}
                                <a href="#">Read More.</a>
                            </p>
                            <br>
                            <i class="text-muted">
                                <strong>Posted : {{ a.posted_on | timesince }} ago by
                                    <span style="color:coral;"> {{ a.posted_by }} </span>
                                </strong>
                                <br>
                                <strong>Views: {{ a.hits }}</strong>
                            </i>
                            <!-- share buttons -->
                            <div class="footer-social-icons">
                                <ul class="social-icons">
                                    <li>
                                        <!-- http://www.facebook.com/sharer/sharer.php?u=http://bibekbhandari.herokuapp.com{ url 'mast er:details' a.slug } -->
                                        <a href="#" class="social-icon" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/techinov22" class="social-icon" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/bibek-bhandari-419470137/" class="social-icon" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/113475651357673842065" class="social-icon" target="_blank">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col m4">
                            <a href="#">
                                <img class="responsive-img" src="{{ a.image.url }}" alt="{{ a.title }}" id="imga">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <hr> {% endfor %}
        </div>
    </div>
    <!-- pagination -->
    {% if blogs.has_other_pages %}
    <ul class="pagination">
      {% if blogs.has_previous %}
        <li  class="waves-effect"><a href="?page={{ blogs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
      {% endif %}
      {% for i in blogs.paginator.page_range %}
        {% if blogs.number == i %}
          <li class="waves-effect active"><a href="">{{ i }}</a></li>
        {% else %}
          <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if blogs.has_next %}
        <li class="waves-effect"><a href="?page={{ blogs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><span><i class="material-icons">chevron_right</i></span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>

{% endblock %}